NEXT_PUBLIC_SANITY_PROJECT_ID=your-actual-projectid-here
NEXT_PUBLIC_SANITY_DATASET=your-actual-dataset-here
SANITY_API_WRITE_TOKEN=your-actual-token-here
ZEPTOMAIL_TOKEN=your-actual-token-here
ZEPTOMAIL_BOUNCE_ADDRESS=noreply@yourdomain.com
CONTACT_FORM_RECIPIENT_EMAIL=contact@yourdomain.com
BUSINESS_PROFILE_RECIPIENT_EMAIL=contact@yourdomain.com
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-service-account-client-email
FIREBASE_PRIVATE_KEY="your-service-account-private-key"